[submodule "gau-account-service"]
	path = gau-account-service
	url = https://github.com/tnqbao/gau-account-service.git
[submodule "gau-cdn-service"]
	path = gau-cdn-service
	url = https://github.com/tnqbao/gau-cdn-service.git
